<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="  
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context.xsd  
    http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans.xsd  
    http://www.springframework.org/schema/tx  
    http://www.springframework.org/schema/tx/spring-tx.xsd  
    http://www.springframework.org/schema/jdbc  
    http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd  
    http://www.springframework.org/schema/cache  
    http://www.springframework.org/schema/cache/spring-cache-3.1.xsd  
    http://www.springframework.org/schema/aop  
    http://www.springframework.org/schema/aop/spring-aop.xsd  
    http://www.springframework.org/schema/util  
    http://www.springframework.org/schema/util/spring-util.xsd">





	<!-- 配置C3P0连接池，整合hibernate -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<!-- 用户名 -->
		<property name="user" value="root" />
		<!-- 用户密码 -->
		<property name="password" value="Gaoji1996" />
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://localhost/hibernate_exe" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
		lazy-init="false">
		<!-- 注入datasource，给sessionfactoryBean内setdatasource提供数据源 -->
		<property name="dataSource" ref="dataSource" />
		<property name="configLocations" value="classpath:hibernate.cfg.xml"></property>
		<!-- //加载实体类的映射文件位置及名称 -->
		<property name="mappingLocations"
			value="classpath:com/bjut/s14024205/entity/*.hbm.xml"></property>
	</bean>
	<!-- ######################## -->

<!-- 配置spring事务管理 -->
	<bean id="HibernateTransactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager" >
		<property name="sessionFactory" ref="sessionFactory" ></property>
	</bean>
	<tx:annotation-driven transaction-manager="HibernateTransactionManager" />
	<!-- #####################  -->
	
	<!-- 数据库DaoImpl -->
	<!-- attention暂时不用，先不注册 -->
	
	<bean id="UserDaoImpl" class="com.bjut.s14024205.dao.impl.UserDaoImpl" >
		<property name="hibernateTemplate" ref="HibernateTemplate" ></property>
	</bean>
	<bean id="PlaybackDaoImpl" class="com.bjut.s14024205.dao.impl.PlaybackDaoImpl" >
		<property name="hibernateTemplete" ref="HibernateTemplate" ></property>
	</bean>
	<bean id="LiveDaoImpl" class="com.bjut.s14024205.dao.impl.LiveDaoImpl" >
		<property name="hibernateTemplate" ref="HibernateTemplate" ></property>
	</bean>
	<bean id="HibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate" >
		<property name="sessionFactory" ref="sessionFactory" ></property> 
	</bean>
	<!-- ##############################  -->
	
	<!-- action注册 -->
	<bean id="LogIn" class="com.bjut.s14024205.action.LogIn" scope="prototype" >
		<property name="u" ref="UserDaoImpl" ></property>
	</bean>
	<bean id="LiveAction" class="com.bjut.s14024205.action.LiveAction" scope="prototype" >
		<property name="l" ref="LiveDaoImpl" ></property>
	</bean>
	<bean id="PlaybackAction" class="com.bjut.s14024205.action.PlaybackAction" scope="prototype" >
		<property name="p" ref="PlaybackDaoImpl" ></property>
	</bean>
	<bean id="SignUpAction" class="com.bjut.s14024205.action.SignUpAction" scope="prototype" >
		<property name="u" ref="UserDaoImpl" ></property>
	</bean>
	
	

	

</beans>  